<form>
  <div class="form-field">
    <label>Pharma SDO: </label>
<!--    <img class="clock-icon" src="../assets/clock.png"/>-->
    <input type="number" name="FirstName" value=""/><br>
  </div>
  <div class="form-field">
    <label>Deactivate Medifilm Price: </label>
    <select>
      <option value="No">No</option>
      <option value="Yes">Yes</option>
    </select>
  </div>
  <br>
  <div class="form-field">
    <label>Allow to set HIA reference package: </label>
    <select>
      <option value="No">No</option>
      <option value="Yes">Yes</option>
    </select>
  </div>
  <br>
  <div class="form-field">
    <label>Medfilm price: </label>
    <img class="clock-icon" src="../assets/clock.png" (click)="openPriceDialog();"/>
    <input type="number" name="FirstName" value=""/>
  </div>
  <br>
  <div class="form-field">
    <label>Ex. factory price: </label>
<!--    <img class="clock-icon" src="../assets/clock.png"/>-->
    <input type="number" name="FirstName" value=""/>
  </div>
</form>


